<div class="container-fluid">
  <div class="row bg-light">
    <h1 class="fw-custom-semibold">Institución</h1>
    <ol class="ps-4 py-2 breadcrumb">
      <li class="breadcrumb-item"><a class="text-black fw-custom-semibold" routerLink="../estudiantes">Estudiantes</a></li>
      <li class="breadcrumb-item active">Matrículas</li>
    </ol>
  </div>
  <div class="row row-cols-1 g-3 justify-content-center align-items-start">
    <div class="col">
      <div class="card text-start border border-0 rounded shadow">
        <div class="card-body">
          <form class="row g-3 justify-content-start align-items-end" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="col-3">
              <label for="CRS_ID" class="form-label">Curso:</label>
              <ng-select [items]="cursos" bindLabel="CRS_NOM" bindValue="CRS_ID" formControlName="CRS_ID" id="CRS_ID"> </ng-select>
            </div>
            <div class="col-2">
              <div class="btn-group" role="group">
                <button type="submit" [disabled]="idsEstudiantes.length <= 0 || !form.valid" class="btn btn-dark">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h3 class="card-title p-3 m-2 shadow rounded text-center bg-black text-white">No Matrículados</h3>
      <div class="card text-start border border-0 rounded shadow">
        <div class="card-body">
          <app-ng-table tableName="nomatriculados" [data]="noMatriculados" [headers]="headersNoMatriculados" [campos]="camposNoMatriculados" [botonera]="false" [checksOptions]="false" [botonEstado]="false" [pageSize]="30" (checkedAction)="estudiantesaction($event)"></app-ng-table>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h3 class="card-title p-3 m-2 shadow rounded text-center bg-primary text-white">Matrículas activas</h3>
      <div class="card text-start border border-0 rounded shadow">
        <div class="card-body">
          <app-ng-table tableName="matriculados" [data]="matriculas" [headers]="headersMatriculados" [campos]="camposMatriculados" [botonera]="false" [pageSize]="30" (checkedAction)="matriculasAction($event)"></app-ng-table>
        </div>
      </div>
    </div>
  </div>
</div>
