<div class="container-fluid">
    <div class="card text-start border border-0 rounded shadow">
        <div class="card-body">
            <h3 class="card-title"> <fa-icon [icon]="icon" size="1x"></fa-icon> {{ modoEdicion ? 'Editar paralelo' :'Crear paralelo' }}</h3>
            <hr>
            <form class="row row-cols-1 row-cols-sm-2 g-3 justify-content-center justify-content-md-start align-items-center" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="col">
                    <label for="PRLL_NOM" class="form-label">Nombre:</label>
                    <input type="text" id="PRLL_NOM" formControlName="PRLL_NOM" class="form-control">
                </div>
                <div class="col">
                    <label for="CRS_ID" class="form-label pb-2">Curso:</label>
                    <select class="form-select" id="CRS_ID" formControlName="CRS_ID">
                        <option disabled selected>Selecciona una opción</option>
                        <option *ngFor="let option of cursos" [value]="option.CRS_ID">{{ option.CRS_NOM }}</option>
                    </select>
                </div>
                <div class="col">
                    <label for="AL_ID" class="form-label pb-2">Año lectivo:</label>
                    <select class="form-select" id="AL_ID" formControlName="AL_ID">
                        <option disabled selected>Selecciona una opción</option>
                        <option *ngFor="let option of anios" [value]="option.AL_ID">{{ option.AL_NOM }}</option>
                    </select>
                </div>
                <div class="col">
                    <label for="ESTADO" class="form-label pb-2">Estado:</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" id="ESTADO" type="checkbox" role="switch"
                            formControlName="ESTADO">
                    </div>
                </div>
                <div class="col-12 col-sm-12 text-center text-md-start">
                    <button type="submit" [disabled]="!form.valid" class="btn btn-dark">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>