<div class="container rounded shadow">
  <div *ngIf="!HAS_2FA" class="row row-cols-1 row-cols-md-2">
    <div class="col bg-img"></div>
    <div class="col">
      <div class="row row-cols-1 g-2">
        <div class="col align-items-center text-center">
          <h1 class="fw-bold text-center py-3">Bienvenido/a</h1>
          <fa-icon class="icon-login" [icon]="icon" animation="flip"></fa-icon>
        </div>
        <div class="col">
          <form class="row row-cols-1 g-3 justify-content-center p-4" [formGroup]="formulario">
            <div class="col align-items-center">
              <label for="usuario" class="form-label">Usuario</label>
              <input type="text" formControlName="usuario" class="form-control" id="usuario" />
              <div *ngIf="usuario?.invalid && (usuario?.dirty || usuario?.touched)" class="alert alert-danger mt-2">
                <div *ngIf="usuario?.errors?.['required']">Ingrese un valor de Usuario.</div>
                <div *ngIf="usuario?.errors?.['minlength']">debe tener un minimo de 8 caracteres</div>
              </div>
            </div>
            <div class="col align-items-center">
              <label for="pswd" class="form-label">Contraseña</label>
              <input type="password" formControlName="pswd" class="form-control" id="pswd" />
              <div *ngIf="pswd?.invalid && (pswd?.dirty || pswd?.touched)" class="alert alert-danger mt-2">
                <div *ngIf="pswd?.errors?.['required']">Ingrese un valor de contraseña.</div>
              </div>
            </div>
            <div class="col align-items-center">
              <div class="d-grid gap-2 pb-3">
                <button class="btn btn-dark" [disabled]="!formulario.valid" (click)="login()">Iniciar Sesión</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="HAS_2FA" class="row row-cols-1">
    <div class="col">
      <div class="verification-section pt-5 pb-3 px-5 text-center">
        <h1 class="fw-bold py-3">Verificación necesaria</h1>
        <p class="fw-light text-break">
          Por favor, introduce el código generado en <br> la aplicación registrada del autenticador.
        </p>
      </div>
      <form [formGroup]="formulario2AF" class="px-5 pb-3">
        <div class="mb-3">
          <label for="verificationCode" class="form-label" >Código:</label>
          <input type="text" class="form-control" id="verificationCode" formControlName="TOKEN">
        </div>
        <div class="d-grid gap-2 pb-3">
          <button class="btn btn-primary" [disabled]="!formulario2AF.valid" (click)="validar2FA()">Continuar</button>
          <button type="button" class="btn btn-dark" (click)="reload()">Regresar</button>
        </div>
      </form>
    </div>
  </div>
</div>