<div class="container-fluid">
    <div class="card text-start border border-0 rounded shadow">
        <div class="card-body">
            <h3 class="card-title"> <fa-icon [icon]="icon" size="1x"></fa-icon> {{ modoEdicion ? 'Editar año lectivo' : 'Crear año lectivo' }}</h3>
            <hr>
            <form
                class="row g-3 justify-content-center justify-content-md-start align-items-center" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="col-md-12">
                    <label for="AL_NOM" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="AL_NOM" formControlName="AL_NOM">
                </div>
                <div class="col-md-6">
                    <label for="AL_INICIO" class="form-label">Fecha de inicio:</label>
                    <input type="date" class="form-control" id="AL_INICIO" formControlName="AL_INICIO">
                </div>
                <div class="col-md-6">
                    <label for="AL_FIN" class="form-label">Fecha de fin:</label>
                    <input type="date" class="form-control" id="AL_FIN" formControlName="AL_FIN">
                </div>
                <div class="col-md-3">
                    <label for="NUM_PRD" class="form-label">Periodos:</label>
                    <input type="number" class="form-control" id="NUM_PRD" formControlName="NUM_PRD" min="1"
                        pattern="^[0-9]+">
                </div>
                <div class="col-md-3">
                    <label for="NUM_PRCL" class="form-label">Parciales:</label>
                    <input type="number" class="form-control" id="NUM_PRCL" formControlName="NUM_PRCL" min="1"
                        pattern="^[0-9]+">
                </div>
                <div class="col-md-3">
                    <label for="NUM_EXAM" class="form-label">Examenes:</label>
                    <input type="number" class="form-control" id="NUM_EXAM" formControlName="NUM_EXAM" min="1"
                        pattern="^[0-9]+">
                </div>
                <div class="col-md-3">
                    <label for="NUM_SUSP" class="form-label">Suspensos:</label>
                    <input type="number" class="form-control" id="NUM_SUSP" formControlName="NUM_SUSP" min="0"
                        pattern="^[0-9]+">
                </div>
                <div class="col-md-6">
                    <label for="AL_POR_PRD" class="form-label">Porcentaje periodo:</label>
                    <input type="number" class="form-control" id="AL_POR_PRD" formControlName="AL_POR_PRD" min="1"
                        pattern="^[0-9]+">
                </div>
                <div class="col-md-6">
                    <label for="AL_POR_EXAM" class="form-label">Porcentaje examenes:</label>
                    <input type="number" class="form-control" id="AL_POR_EXAM" formControlName="AL_POR_EXAM" min="1"
                        pattern="^[0-9]+">
                </div>
                <div class="col-md-6">
                    <label for="CLFN_MIN_APR" class="form-label">Calificación mínima pase:</label>
                    <input type="number" class="form-control" id="CLFN_MIN_APR" formControlName="CLFN_MIN_APR" min="1"
                        pattern="^[0-9]+">
                </div>
                <div class="col-md-6">
                    <label for="CLFN_MIN_PERD" class="form-label">Calificación mínima perdida: </label>
                    <input type="number" class="form-control" id="CLFN_MIN_PERD" formControlName="CLFN_MIN_PERD" min="1"
                        pattern="^[0-9]+">
                </div>
                <div class="col-md-6">
                    <label for="ESTADO" class="form-label pb-2">Estado:</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" role="switch" id="ESTADO" type="checkbox"
                            formControlName="ESTADO">
                    </div>
                </div>
                <div class="col-12 col-sm-12 text-center text-md-start">
                    <button type="submit" [disabled]="!form.valid" class="btn btn-dark">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>