<div class="container-fluid">
    <div class="row bg-light">
        <h1 class="fw-custom-semibold">Sistema</h1>
        <ol class="ps-4 py-2 breadcrumb">
            <li class="breadcrumb-item active pe-2">{{title}}</li>
            <button [routerLink]="[routerLink]" class=" btn btn-primary btn-sm shadow">Crear</button>
        </ol>
    </div>
    <div class="card text-start border border-0 rounded shadow">
        <div class="card-body">
            <ng-container *ngIf="table">
                <app-ng-table [data]="table" [headers]="headers" [campos]="campos" (eliminarAction)="eliminar($event)"
                    (checkedAction)="checkedsAction($event)" (filaAction)="filaAction($event)"></app-ng-table>
            </ng-container>
        </div>
    </div>
</div>