<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <h3 class="fw-custom-semibold">Calificaciones</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">1RO</li>
      <li class="breadcrumb-item">A</li>
      <li class="breadcrumb-item active pe-2">Asignatura</li>
    </ol>
  </nav>
  <div class="card text-start border-0 rounded shadow">
    <div class="card-body">
      <div class="d-flex py-3 flex-lg-row-reverse">
        <button type="button" class="btn btn-dark" (click)="guardar()">Guardar</button>
      </div>
      <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover">
          <thead class="align-middle text-center">
            <tr>
              <th rowspan="2">#</th>
              <th rowspan="2">Nombres</th>
              <!-- encabezados de periodos -->
              <ng-container *ngFor="let periodo of periodosNormales;let i = index;">
                <th [attr.colspan]="periodo['colspan']">{{periodo.PRD_NOM}}</th>
              </ng-container>
              <!-- encabezados de periodos suspenso -->
              <ng-container *ngFor="let periodo of periodosEvaluativos;let i = index;">
                <th [attr.colspan]="periodo['colspan']">{{periodo.PRD_NOM}}</th>
              </ng-container>
            </tr>
            <!-- subEncabezados de peridos -->
            <tr>
              <ng-container *ngFor="let periodo of periodosNormales">
                <!-- parciales -->
                <ng-container *ngFor="let parcial of periodo['parcialesNormales']">
                  <th>{{parcial['PRCL_NOM']}}</th>
                </ng-container>
                <th>PROM</th>
                <th>80%</th>
                <!-- examenes -->
                <ng-container *ngFor="let parcial of periodo['parcialesEvaluativos']">
                  <th>{{parcial['PRCL_NOM']}}</th>
                </ng-container>
                <th>20%</th>
                <!-- total -->
                <th>Total</th>
                <th>EC</th>
              </ng-container>
              <ng-container *ngFor="let periodo of periodosEvaluativos">
                <ng-container *ngFor="let parcial of periodo['parcialesEvaluativos']">
                  <th>{{parcial['PRCL_NOM']}}</th>
                </ng-container>
              </ng-container>
            </tr>
          </thead>
          <tbody class="align-middle">
            <!-- inicio fila -->
            <ng-container *ngFor="let item of estudiantes; index as i">
              <tr>
                <!-- numero fila -->
                <th scope="row" class="p-1">{{i+1}}</th>
                <!-- nombre estudiante -->
                <td>
                  <p class="w-text-table">{{item.EST_CRS_NOM}}</p>
                </td>
                <!-- inicio calificaciones -->
                <ng-container *ngFor="let periodo of periodosNormales">
                  <!-- se crean dinamicamente en base al numero de parciales -->
                  <ng-container *ngFor="let parcial of periodo['parcialesNormales']">
                    <ng-container *ngIf="isEnabledParcial(parcial)">
                      <td>
                        <input class="w-input-table form-control m-0 p-0 text-center" type="number" step="0.01" min="0" max="10" 
                          (input)="addCalificacion(item,parcial,$event)">
                      </td>
                    </ng-container>
                    <ng-container *ngIf="!isEnabledParcial(parcial)">
                      <td class="text-center">-</td>
                    </ng-container>
                  </ng-container>
                  <!-- total por parcial -->
                  <td>prom</td>
                  <!-- 80% total por parcial -->
                  <td>80</td>
                  <!-- se crean dinamicamente en base al numero de parciales evaluativos -->
                  <ng-container *ngFor="let parcial of periodo['parcialesEvaluativos']">
                    <ng-container *ngIf="isEnabledParcial(parcial)">
                      <td>
                        <input class="w-input-table form-control m-0 p-0" type="number" step="0.01" min="0" max="10"
                          (input)="addCalificacion(item,parcial,$event)">
                      </td>
                    </ng-container>
                    <ng-container *ngIf="!isEnabledParcial(parcial)">
                      <td class="text-center">-</td>
                    </ng-container>
                  </ng-container>
                  <!-- 20% por parcial evaluativo -->
                  <td>20</td>
                  <!-- suma de 20 y 80 -->
                  <td>total</td>
                  <!-- equivalencia -->
                  <td>ec</td>
                </ng-container>
                <!-- inicio calificaciones suspenso -->
                <ng-container *ngFor="let periodo of periodosEvaluativos">
                  <!-- se crean dinamicamente en base al numero de parciales de suspenso-->
                  <ng-container *ngFor="let parcial of periodo['parcialesEvaluativos']">
                    <ng-container *ngIf="isEnabledParcial(parcial)">
                      <td>
                        <input class="w-input-table form-control m-0 p-0" type="number" step="0.01" min="0" max="10"
                          (input)="addCalificacion(item,parcial,$event)">
                      </td>
                    </ng-container>
                    <ng-container *ngIf="!isEnabledParcial(parcial)">
                      <td class="text-center">-</td>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>