<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <h3 class="fw-custom-semibold">Profesores</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active pe-2">{{ title }}</li>
    </ol>
  </nav>
  <div class="card text-start border-0 rounded shadow">
    <div class="card-body">
      <div class="table-responsive">
        <table class=" table table-bordered text-center">
          <thead class="align-middle">
            <tr>
              <th rowspan="2">#</th>
              <th rowspan="2">Nombres</th>
              <th colspan="8">Periodo 1</th>
              <th colspan="8">Periodo 2</th>
              <th colspan="8">Periodo 3</th>
            </tr>
            <tr>
              <th>P1</th>
              <th>P2</th>
              <th>PROM</th>
              <th>80%</th>
              <th>Ex</th>
              <th>20%</th>
              <th>Total</th>
              <th>EC</th>
              <th>P1</th>
              <th>P2</th>
              <th>PROM</th>
              <th>80%</th>
              <th>Ex</th>
              <th>20%</th>
              <th>Total</th>
              <th>EC</th>
              <th>P1</th>
              <th>P2</th>
              <th>PROM</th>
              <th>80%</th>
              <th>Ex</th>
              <th>20%</th>
              <th>Total</th>
              <th>EC</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of estudiantes; index as i">
            <tr>
              <th scope="row" class="p-1">{{i+1}}</th>
              <td>{{item.EST_CRS_NOM}}</td>
              <td><input class="form-control p-0 m-0" type="text"></td>
              <td><input class="form-control p-0 m-0" type="text"></td>
              <td>7</td>
              <td>7</td>
              <td></td>
              <td>7</td>
              <td>7</td>
              <td>7</td>
              <td><input class="form-control p-0 m-0" type="text"></td>
              <td><input class="form-control p-0 m-0" type="text"></td>
              <td>7</td>
              <td>7</td>
              <td><input class="form-control p-0 m-0" type="text"></td>
              <td>7</td>
              <td>7</td>
              <td>7</td> 
              <td><input class="form-control p-0 m-0" type="text"></td>
              <td><input class="form-control p-0 m-0" type="text"></td>
              <td>7</td>
              <td>7</td>
              <td><input class="form-control p-0 m-0" type="text"></td>
              <td>7</td>
              <td>7</td>
              <td>7</td>
            </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>