<div class="modal-header border-0">
  <!-- <button type="button" class="btn-close" aria-label="Close" (click)="closeModal('cancel')"  tabindex="-1">
	</button> -->
</div>
<div class="modal-body border-0 text-center">
  <h4 class="modal-title text-center">{{ contenido }}</h4>
  <fa-icon [icon]="icon" class="fa-4x text-{{ color }}"></fa-icon>
</div>
<div class="modal-footer border-0 justify-content-center">
  <button *ngIf="modal" type="button" class="btn btn-primary" (click)="saveModal('save')">Aceptar</button>
  <button type="button" class="btn btn-dark" (click)="activeModal.close('Close')">Cerrar</button>
</div>
