<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()"> A
        </button>
        <div class="logo-text" *ngIf="collapsed">{{titulo}}</div>
        <button class="btn-closed" *ngIf="collapsed" (click)="closeSidenav()">
        </button> 
    </div>
    <div class="scrollwrap scrollwrap_delayed">
        <ul class="sidenav-nav">
            <li class="sidenav-nav-item" *ngFor="let data of navbarData">
                <!-- Enlace sin subelementos -->
                <a class="sidenav-nav-link"
                    *ngIf="(data.visible)&& (!data.items || (data.items && data.items.length === 0))"
                    [routerLink]="[data.routelink]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{data.label}}</span>
                </a>
                <!-- Enlace con subelementos -->
                <a class="sidenav-nav-link" *ngIf="(data.visible) && (data.items && data.items.length > 0)" (click)="handleClick(data)"
                    [ngClass]="getRouteActive(data)">
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{data.label}}</span>
              
                </a>
                <!-- Subnivel colapsado -->
                <div *ngIf="collapsed && data.items && data.items.length > 0">
                   
                </div>
            </li>
        </ul>
    </div>
</div>