<div class="container">
    <div class="card text-start border border-0 rounded shadow">
        <div class="card-body">
            <h2 class="card-title">{{ modoEdicion ? 'Editar Profesor' : 'Crear Profesor' }}</h2>
            <hr class="border border-secondary opacity-25">
            <form class="row g-3 align-items-end" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="col-md-12">
                    <label class="form-label" for="dni">Cédula del docente:</label>
                    <input class="form-control" id="dni" type="text" formControlName="dni">
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="nom1">Primer nombre:</label>
                    <input class="form-control" type="text" formControlName="nom1">
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="nom2">Segundo nombre:</label>
                    <input class="form-control" type="atext" formControlName="nom2">
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="ape1">Primer apellido:</label>
                    <input class="form-control" type="text" formControlName="ape1">
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="ape2">Segundo apellido:</label>
                    <input class="form-control" type="text" formControlName="ape2">
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="fecN" class="form-label">Fecha de nacimiento</label>
                    <input class="form-control" type="date" class="form-control" id="fecN" formControlName="fecN">
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="">Género del docente</label>
                    <select class="form-select" formControlName="gen" id="">
                        <option value="F">Femenino</option>
                        <option value="M">Masculino</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <label class="form-label" for="dir">Dirección domicilio:</label>
                    <input class="form-control" type="text" formControlName="dir" id="">
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="tel">Teléfono:</label>
                    <input class="form-control" type="text" formControlName="tel" pattern="^[0-9]+">
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="cel">Celular:</label>
                    <input class="form-control" type="text" formControlName="cel" pattern="^[0-9]+">
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="mail">Correo:</label>
                    <input class="form-control" id="mail" type="text" formControlName="mail">
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="fecI" class="form-label">Fecha de ingreso a la institución</label>
                    <input class="form-control" type="date" class="form-control" id="fecI" formControlName="fecI">
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="fecM" class="form-label">Fecha de ingreso al magisterio</label>
                    <input class="form-control" type="date" class="form-control" id="fecM" formControlName="fecM">
                </div>
                <div class="col-md-6">
                    <label for="estado" class="form-label pb-2">Estado</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" id="estado" type="checkbox" role="switch"
                            formControlName="estado">
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-dark">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>